<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body bgcolor="black" text="white" font-size="20px" font-family="Arial, Helvetica, sans-serif" align="center" style="background-image: url('https://images.unsplash.com/photo-1534796636912-3b95b3ab5986?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); background-size: cover; background-position: center; background-repeat: no-repeat; background-attachment: fixed;">
    <h1>About</h1>
    <p>About Page</p>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
    <a href="/search">Search</a>
    <a href="/post">Post</a>
    <p><%= message %></p>
    <p><%= title %></p>
</body>
</html>