<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ejs</title>
  </head>
  <body
    bgcolor="black"
    text="white"
    font-size="20px"
    font-family="Arial, Helvetica, sans-serif"
    align="center"
    style="
      background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('https://images.unsplash.com/photo-1446776811953-b23d57bd21aa?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
    "
  >
    <h1>Hello World</h1>
    <h2>Hello World</h2>
    <h3>Hello World</h3>
    <h4>Hello World</h4>
    <h5>Hello World</h5>
    <h6>Hello World</h6>
    <p>Hello World</p>
    <p>Hello World</p>
    <p><%= message %></p>
    <p><%= title %></p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam,
      error qui recusandae doloremque odit officia! Dignissimos nemo eius
      dolorem accusantium alias! Quisquam nobis distinctio, placeat animi atque
      in odio delectus? Similique hic impedit maxime architecto voluptates
      exercitationem laborum corporis debitis, assumenda illum. Quas minima
      impedit, consequatur, vel mollitia nulla obcaecati excepturi in, aliquid
      temporibus voluptas itaque vero voluptatum id eaque. Dolorem totam id ad
      aperiam ab officia aliquid! Maxime nam voluptate dolore consequuntur nemo
      perferendis laborum nostrum soluta laboriosam nulla, beatae facere
      explicabo cupiditate sit quis suscipit nobis obcaecati assumenda.
      Laboriosam provident at quaerat, magnam velit omnis nostrum inventore
      asperiores architecto veritatis fuga qui corporis, quae maiores numquam
      dolorum dolore distinctio. Consequatur eius, facilis voluptatem doloribus
      nostrum quia dolor iure. Quasi officia praesentium omnis earum aperiam
      adipisci? Libero iure, dolores fuga, in reprehenderit aut necessitatibus
      accusantium vitae possimus officiis esse nisi reiciendis deleniti autem ex
      cumque enim, dolor debitis pariatur. Voluptas debitis, cum quaerat commodi
      asperiores quis quo eos, laudantium error similique fugit enim vitae quia
      quae vel officiis voluptatibus dolor sunt aspernatur facilis fugiat
      quidem. Magnam, laudantium blanditiis? Quam. Repellendus sapiente deleniti
      mollitia similique natus quod totam quis optio dolorem quas. Ipsa vero,
      expedita reiciendis reprehenderit nesciunt dolorum voluptatem voluptates
      repellendus fugit quod vitae quaerat iste, tempora asperiores facere?
      Aspernatur alias repudiandae possimus voluptatibus facilis aliquid eius
      autem reiciendis neque pariatur tempora earum doloribus, amet accusantium
      veniam culpa vero ad similique voluptates nemo quam modi libero molestias
      quod! Delectus. Eum voluptatibus sapiente pariatur! Qui, dolores quos!
      Architecto magni ex consectetur! Quam sed ea doloremque reprehenderit, in
      quod quo porro exercitationem veritatis! Laborum rem magni magnam totam
      asperiores quis unde! Suscipit nisi, impedit rerum officiis odit aliquam
      soluta alias cupiditate libero atque numquam sequi ad, voluptas harum
      voluptatem, sed maiores est quaerat sapiente? Temporibus eos quia ab
      labore libero commodi.
    </p>
  </body>
</html>
