<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post in detail</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2>Here is the Post in detail</h2>
    <% if (!post) { %>
        <p>Post not found.</p>
        <a href="/posts">Back to posts</a>
    <% } else { %>
        <p>post id: <%= post.id %></p>
        <div>
            <h3 class="username">@ <%= post.username %></h3>
            <h4 class="content"><%= post.content %></h4>
        </div>
        <a href="/posts">Back to posts</a>
    <% } %>
</body>
</html>